<ion-view title="Settings">
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
    </ion-nav-buttons>
    
    <ion-content class="has-header padding">
        <h3 align="center">Connection Status</h3>
        <!--<span ng-bind="flexvolt|json"></span>-->
        <p>Status: {{flexvolt.api.connection.state}} : {{flexvolt.getDetailedConnectionStatus()}}</p>
        <div ng-if="flexvolt.getConnectionStatus()">
            <p>Port: {{con.flexvoltName}}</p>
            <p>Model: {{con.model}}</p>
            <p>Version: {{con.version}}  &nbsp&nbsp&nbsp  S/N: {{con.serialNumber}}</p>
            <div class="row">
                <div class="col col-40">
                    <button ng-click="flexvolt.api.resetConnection()">Reset connection</button>
                </div>
                <div ng-if="mobile" class="col col-40 col-offset-20">
                    <button ng-click="flexvolt.api.disconnect()">Disconnect</button>
                </div>
            </div>
        </div>
        <div ng-if="!flexvolt.getConnectionStatus() && !flexvolt.getConnectingStatus()">
            <button ng-click="flexvolt.api.resetConnection()">Try to connect</button>
        </div>
        <div ng-if="flexvolt.getConnectingStatus()">
            <button ng-click="flexvolt.api.cancelConnection()">Cancel Connect Attempt</button>
        </div>

        <div ng-if="!mobile">
            <h3 align="center">Manual Controls</h3>
            <div class="row">
                <div class="col col-40"><button ng-click="updatePorts()">Scan Ports</button></div>
                <div class="col col-40 col-offset-20"><button ng-click="flexvolt.api.disconnect()">Disconnect</button></div>
            </div>

<!--            <div ng-if="!mobile">
            <p>Preferred Ports:</p>
            <select ng-model="selectedPrefPort" ng-options="port for port in prefPortList()"></select>
            <p>
                <button ng-click="attemptToConnect(selectedPrefPort)">Connect Preferred Port</button>
            </p>
            <br>
            </div>-->
            <p>All Available Ports:</p>
            <select ng-model="selectedPort" ng-options="port for port in portList()"></select>
            <!--<button ng-click="flexvolt.api.sendMsg('A')">Send 'A'</button>-->
            <button ng-if="mobile" ng-click="attemptToConnect(selectedPort)">Connect Selected Port</button>
            <p ng-if="!mobile">
                <button ng-click="attemptToConnect(selectedPort)">Connect Selected Port</button>
            </p>
            <br>
        </div>
        <h3 align="center">TroubleShooting</h3>
        <div>
            <p>Use the 'Send Bug Report' button below to file bug reports.
                Please include a detailed description!
            </p>
            <div class="row">
                <div class="col col-30"><button ng-click="showLog()">View Log Messages</button></div>
                <!--<div class="col col-30 col-offset-10" ng-if="mobile"><button ng-click="copyToClipboard()">Copy Log to Clipboard</button></div>-->
                <div class="col col-30 col-offset-40">
                    <button ng-click="showBugReportForm()">Create Bug Report</button>
                    <!--<a ng-if="!mobile" ng-href="{{emailBugReport}}" target="_blank">-->
                        <!--<button>Send Bug Report</button>-->
                    <!--</a>-->
                </div>
            </div>
        </div>
<!--        <h3 align="center">Files</h3>
        <div>
            <button ng-click="createFile()">create test file</button>
        </div>-->
    </ion-content>
</ion-view>

<script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
            <h1 class="title">Logs Messages</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
        </ion-header-bar>
        <ion-content class="padding">
            <pre><span class="log-class">{{dm.logs}}</span></pre>
        </ion-content>
    </ion-modal-view>
</script>