<ion-view title="Help">
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h3 align="center">TroubleShooting</h3>
        <div>
            <!--<p ng-if="!mobile">Use the 'Send Bug Report' button below to file bug reports.-->
                <!--Please include a description of what happened.-->
            <!--</p>-->
            <!--<p ng-if="mobile">Use the 'Send Bug Report' button below to file bug reports.-->  
                <!--Log messages will be auto-copied.  To paste the logs into the email, press and hold, then select 'paste'.-->  
                <!--Please add a description of what happened.-->
            <!--</p>-->

            <p>
                Use the 'Send Bug Report' button below to file bug reports.
                Please include a detailed description!
            </p>
            <div class="row">
                <div class="col col-30"><button ng-click="showLog()">View Log Messages</button></div>
                <!--<div class="col col-30 col-offset-10" ng-if="mobile"><button ng-click="copyToClipboard()">Copy Log to Clipboard</button></div>-->
                <div class="col col-30 col-offset-40">
                    <button ng-click="showBugReportForm()">Create Bug Report</button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>


<script id="templates/modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-balanced">
            <h1 class="title">Logs Messages</h1>
            <button class="button button-clear button-primary" ng-click="modal.hide()">Back</button>
        </ion-header-bar>
        <ion-content class="padding">
            <pre><span class="log-class">{{dm.logs}}</span></pre>
        </ion-content>
    </ion-modal-view>
</script>