

<ion-view title="Myometer">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
  <ion-content class="has-header" scroll="false">
    <save-panel></save-panel>
    <div ng-if="!demo && flexvolt.api.connection.state !== 'connected'">
          <div>FlexVolt connection status: {{flexvolt.getDetailedConnectionStatus()}}</div>
          <div>If you are having trouble connecting, check connection settings, or try Demos to see what this task would do.</div>
    </div>
    <div id="myometerWindow"></div>
    <div class="row">
        <div class="col col-70px">Baseline</div>
        <div style="text-align:center" class="col" 
             ng-repeat="label in pageLogic.settings.labels | limitTo : pageLogic.settings.nChannels" 
             ng-click="showLabelPopup($index)">
            {{label.name}}
        </div>
        <div class="col col-10px"></div>
    </div>
    <div class="row">
        <div ng-if="pageLogic.settings.baselineMode === 'absolute'" class="col col-70px">Absolute</div>
        <div ng-if="pageLogic.settings.baselineMode === 'relative'" class="col col-70px">Relative</div>
        <div style="text-align:center" class="col" ng-repeat="ch in pageLogic.settings.baselines[pageLogic.settings.baselineMode] | limitTo:pageLogic.settings.nChannels">
            {{ch.value}}
        </div>
        <div class="col col-10px"></div>
    </div>
    <div class="row">
        <div class="col col-70px">
        </div>
        <div style="text-align:center" class="col" ng-repeat="ch in pageLogic.settings.labels | limitTo : pageLogic.settings.nChannels">
            <button class="button button-small button-balanced" title="Set Baseline" ng-if="!baselining || (baselining && (baseline.channel !== $index))" ng-disabled="baselining"  ng-click="setBaseline($index)">S</button>
            <button class="button button-small button-assertive" title="Cancel Baseline Measurement" ng-if="baselining && baseline.channel === $index" ng-click="cancelBaseline($index)">Cancel</button>
            <button class="button button-small button-assertive" title="Clear Baseline" ng-if="!baselining || baseline.channel !== $index" ng-disabled="baselining" ng-click="clearBaseline($index)">X</button>
        </div>
        <div class="col col-10px"></div>
    </div>
    
  </ion-content>
</ion-view>

<script id="myometer-settings.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <form name="setForm">
        <div style="padding: 8px 8px">
          <h3 style="text-align:center">
            # Channels
          </h3>
          <p>&nbsp&nbsp&nbsp
            <label ng-repeat="item in hardwareLogic.channelList">
              <input type="radio" ng-model="pageLogic.settings.nChannels" ng-change="onChange()" ng-value="item.value"/>&nbsp{{item.text}}&nbsp&nbsp
            </label>
          </p>
          <h3 style="text-align:center">
            Scale
          </h3>
          <p>&nbsp&nbsp&nbsp
            <label ng-repeat="item in pageLogic.settings.baselineModeList">
              <input type="radio" ng-model="pageLogic.settings.baselineMode" ng-change="onChange()" ng-value="item.value" />&nbsp{{item.text}}&nbsp&nbsp
            </label>
          </p>
          <filter-options ng-if="mobile"></filter-options>
        </div>
      </form>
    </ion-content>
  </ion-popover-view>
</script>

<script id="myometer-help.html" type="text/ng-template">
  <!--<ion-popover-view style="width: 250px; height: 300px;">-->
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Myometer Help</h1>
    </ion-header-bar>
    <ion-content>
        <div>
            <h4>Feedback</h4>
            <ul>
                <li>Reach a minimum level of exersion by bringing the signal level above the threshold</li>
                <li>Practice muscle relaxation by keeping the exersion level below the threshold</li>
            </ul>
            <h4>Thresholds</h4>
            <ul><li>Set thresholds by dragging the gray bars up and down.</li></ul>
            <h4>Baselines</h4>
            <ul>
                <li>With muscle in relaxes position, click 'set' button</li>
                <li>Wait for measurement to complete</li>
                <li>Channel is now adjusted with baseline as 0</li>
            </ul>
            <h4>Name Channels</h4>
            <ul>
                <li>Click a channel name to change it</li>
            </ul>
        </div>
    </ion-content>
  </ion-popover-view>
</script>