<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-balanced">
    <h1 class="title">Recent Records</h1>
  </ion-header-bar>
  <ion-content>
    <div class="row">
      <div class="col">Date/Time</div>
      <div class="col">Record Length</div>
    </div>
    <div class="list">
      <div class="item row" ng-repeat="record in records.getAll() track by $index" ng-class="selectedStyle($index)" ng-click="selectRecord($index)">
        <div class="col">{{record.startTime}}</div>
        <div class="col">{{record.timeLength}}s</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <button class="button button-balanced" ng-disabled="selectRecordDisabled()" ng-click="viewRecord()">View</button>
          <button class="button button-balanced" ng-click="cancelSelectRecord()">Cancel</button>
      </div>
      <div class="col">
          <button ng-if="!mobile" class="button button-balanced icon ion-folder record-icon" ng-click="browse()"> Browse</button>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
