

<ion-view title="RMS vs Time">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
  <ion-content scroll="false" class="has-header">
      <!--This div, #traceWindow in this case, gets grabbed by d3 plotting features-->
      <div ng-if="!demo && flexvolt.api.connection.state !== 'connected'">
          <div>FlexVolt connection status: {{flexvolt.getDetailedConnectionStatus()}}</div>
          <div>If you are having trouble connecting, check connection settings, or try Demos to see what this task would do.</div>
      </div>
      <div class="row">
          <div class="col">
              <save-panel></save-panel>
              <div ng-repeat="label in pageLogic.settings.labels | limitTo : pageLogic.settings.nChannels" 
                   style="font-size: 14px; line-height:14px;">
                  <div>
                      <span ng-style="{'background-color': label.color}" 
                        style="float:left; width: 14px; height: 14px; margin:2px; border-width:1px; border-color:black"></span>
                      {{label.name}}
                  </div>
                  <div class="row">
                      <div class="col">Min: {{metrics.minAmplitude | number:2}}</div>
                      <div class="col">Mean: {{metrics.meanAmplitude | number:2}}</div>
                      <div class="col">Max: {{metrics.maxAmplitude | number:2}}</div>
                  </div>
              </div>
          </div>
          <div class="col" id="rmsTimeWindow"></div>
      </div>
      
  </ion-content>
</ion-view>

<script id="rms-time-settings.html" type="text/ng-template">
  <ion-popover-view style="width: 262px">
<!--    <ion-header-bar>
      <h1 class="title">Plot Settings</h1>
    </ion-header-bar>-->
    <ion-content>
        <form name="setForm">
            <div style="padding: 8px 8px">
                <h3 style="text-align:center">
                    # Channels
                </h3>
              <p>&nbsp&nbsp&nbsp
                <label ng-repeat="item in hardwareLogic.channelList">
                    <input type="radio" ng-model="pageLogic.settings.nChannels" ng-change="onChange()" ng-value="item.value"/>&nbsp{{item.text}}&nbsp&nbsp
                </label>
              </p>
              <h3 style="text-align:center">
                Zoom Options
              </h3>
              <p>&nbsp&nbsp&nbsp
                <label ng-repeat="item in pageLogic.zoomList">
                    <input type="radio" ng-model="pageLogic.settings.zoomOption" ng-change="onChange()" ng-value="item.value"/>&nbsp{{item.text}}&nbsp&nbsp
                </label>
              </p>
              <h3 style="text-align:center">
                Window Size
              </h3>
              <p>&nbsp&nbsp&nbsp
                <label ng-repeat="item in pageLogic.xMaxList">
                    <input type="radio" ng-model="pageLogic.settings.xMax" ng-change="onChange()" ng-value="item.value"/>&nbsp{{item.text}}&nbsp&nbsp
                </label>
              </p>
      
              <filter-options ng-if="mobile"></filter-options>
            </div>
        </form>
    </ion-content>
  </ion-popover-view>
</script>

<script id="rms-time-help.html" type="text/ng-template">
  <!--<ion-popover-view style="width: 250px; height: 300px;">-->
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">Trace Help</h1>
    </ion-header-bar>
    <ion-content>
        <div>
            Plots the RMS (root mean square) of real-time data.
            Change how many data samples go into each RMS calculation by adjusting the RMS window size in settings.
            You can also zoom and pan!
        </div>
    </ion-content>
  </ion-popover-view>
</script>


