<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="RecordCtrl"
     class="control-panel-container">
    <div ng-if="!mobile" class="control-panel-strip" style="text-align: left;">
        <button title="Pause"
                ng-disabled="isDesktopPauseDisabled()"
                class="button button-icon icon ion-pause record-icon"
                ng-click="dataHandler.controls.pause()">
        </button>
        <button title="Resume"
                ng-disabled="!dataHandler.controls.paused && dataHandler.controls.live"
                class="button button-icon icon ion-play record-icon"
                ng-click="dataHandler.controls.resume()">
        </button>
        <!-- <button title="Pause"
                class="button button-icon icon record-icon"
                ng-class="(dataHandler.controls.live && !dataHandler.controls.paused) ? 'ion-pause' : 'ion-play'"
                ng-click="dataHandler.controls.togglePause()">
        </button> -->
        <button title="Record Data"
                class="button button-icon icon ion-record record-icon"
                ng-disabled="isDesktopRecordDisabled()"
                ng-click="dataHandler.controls.startRecording()">
        </button>
        <button title="Stop"
                ng-disabled="!dataHandler.controls.recording"
                class="button button-icon icon ion-stop record-icon"
                ng-click="dataHandler.controls.stopRecording()">
        </button>
        <!-- <button title="Record Data"
                class="button button-icon icon record-icon"
                ng-class="dataHandler.controls.recording? 'ion-stop' : 'ion-record'"
                ng-click="dataHandler.controls.toggleRecording()">
        </button> -->
        <button class="button button-clear record-icon-text" ng-style="dataHandler.controls.recording ? {'color': 'black'} : {'color': 'rgb(75,75,75)'} ">
            {{dataHandler.controls.recordTimer}}s
        </button>
        <button title="Select Recorded Data"
                ng-disabled="dataHandler.controls.recording || records.getForTask('rms').length <= 0"
                class="button button-icon icon ion-folder record-icon"
                ng-click="viewRecordedData($event)">
        </button>
    </div>
    <div ng-if="mobile" class="control-panel-strip" style="text-align: left;">
        <button title="Pause"
                class="button button-icon icon record-icon"
                ng-class="(dataHandler.controls.live && !dataHandler.controls.paused) ? 'ion-pause' : 'ion-play'"
                ng-disabled="isMobilePauseDisabled()"
                ng-click="dataHandler.controls.togglePause()">
        </button>
        <button title="Record Data"
                class="button button-icon icon record-icon"
                ng-class="dataHandler.controls.recording? 'ion-stop' : 'ion-record'"
                ng-disabled="isMobileRecordDisabled()"
                ng-click="dataHandler.controls.toggleRecording()">
        </button>
        <button class="button button-clear record-icon-text" ng-style="dataHandler.controls.recording ? {'color': 'black'} : {'color': 'rgb(75,75,75)'} ">
            {{dataHandler.controls.recordTimer}}s
        </button>
        <button title="Select Recorded Data"
                ng-disabled="dataHandler.controls.recording || records.getForTask('rms').length <= 0"
                class="button button-icon icon ion-folder record-icon"
                ng-click="viewRecordedData($event)">
        </button>
    </div>
    <!-- <div class="col" style="text-align:right; padding: 5px;"> -->
        <!-- <button title="Capture Image"
                class="button button-icon icon ion-camera record-icon"
                ng-click="captureScreen()">
        </button> -->
    <!-- </div> -->
</div>
