<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="RecordCtrl"
     style="height: 45px; padding: 0px;"
     class="row"
     ng-if="!mobile && flexvolt.api.connection.state === 'connected' && flexvolt.api.connection.data === 'on'">
    <div class="col" style="text-align: left; padding: 0px;">
        <button title="Pause"
                ng-disabled="dataHandler.controls.paused"
                class="button button-icon icon ion-pause record-icon"
                ng-click="dataHandler.controls.pause()">
        </button>
        <button title="Resume"
                ng-disabled="!dataHandler.controls.paused"
                class="button button-icon icon ion-play record-icon"
                ng-click="dataHandler.controls.resume()">
        </button>
        <button title="Record Data"
                class="button button-icon icon ion-record record-icon"
                ng-disabled="!dataHandler.controls.live || !!dataHandler.controls.recording"
                ng-click="dataHandler.controls.startRecording()"></button>
        <button title="Stop"
                ng-disabled="!dataHandler.controls.recording"
                class="button button-icon icon ion-stop record-icon"
                ng-click="dataHandler.controls.stopRecording()">
        </button>
        <button class="button button-clear record-icon-text" ng-style="dataHandler.controls.recording ? {'color': 'black'} : {'color': 'gray'} ">
            {{dataHandler.controls.recordTimer}}s
        </button>
    </div>
    <!-- <div class="col" style="text-align:right; padding: 5px;"> -->
        <!-- <button title="View Recorded Data"
              ng-disabled="records.getForTask('trace').length <= 0"
              class="button button-icon icon ion-search record-icon"
              ng-click="dataHandler.viewRecordedData()">
        </button>
        <select ng-if="records.getForTask('trace').length > 0"
                ng-model="dataHandler.controls.selectedRecord"
                ng-options="record.dateTime for record in records.getForTask('trace')"
                ng-change="onRecordSelected()"
                style="padding: 5px;">
        </select> -->
        <!-- <button title="Capture Image"
                class="button button-icon icon ion-camera record-icon"
                ng-click="captureScreen()">
        </button> -->
    <!-- </div> -->
</div>
