

<ion-view title="Go Dot">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div ng-if="!demo && flexvolt.api.connection.state !== 'connected'">
          <div>FlexVolt connection status: {{flexvolt.getDetailedConnectionStatus()}}</div>
          <div>If you are having trouble connecting, check connection settings, or try Demos to see what this task would do.</div>
        </div>
        <div ng-if="demo">
            <ion-toggle ng-model="fakeData.useRandom" ng-change="onChange()" ng-checked="fakeData.useRandom">
                <span ng-if="!fakeData.useRandom">Demo Data: Simulate Data Here</span>
                <span ng-if="fakeData.useRandom">Demo Data: Generate Random</span>
            </ion-toggle>
            <span>Use Settings (top right) to Change Dot Mode</span><br/>
            <label>Simulate X Signal: {{fakeData.x}}</label>&nbsp&nbsp
            {{bounds.min}} <input type="range" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="fakeData.x" style="vertical-align:middle"> {{bounds.max}}<br/>
            <label>Simulate Y Signal: {{fakeData.y}}</label>&nbsp&nbsp
            {{bounds.min}} <input type="range" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="fakeData.y" style="vertical-align:middle"> {{bounds.max}}<br/>
        </div>
        <div id="xyWindow"></div>
    </ion-content>
</ion-view>

<script id="xy-settings.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">XY Settings</h1>
    </ion-header-bar>
    <ion-content>
      <form name="setForm">
        <div style="padding: 8px 8px">
            <div class="item item-divider"> 
              <center>Motion Mode</center>
            </div>

            <ion-toggle ng-model="plot.thresh" ng-change="onChange()" ng-checked="plot.thresh">
                <span ng-if="plot.thresh"> Use Thresholds </span>
                <span ng-if="!plot.thresh"> Follow RMS </span>
            </ion-toggle>
        
        
            <div class="item item-divider"> 
              <center>Horizontal X: Chan 1</center>
            </div>

            <label>Top Threshold: {{thresh.xH}}</label><br/>
            {{bounds.min}} <input type="range" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="thresh.xH" style="vertical-align:middle"> {{bounds.max}}<br/>
            <label>Bottom Threshold: {{thresh.xL}}</label><br/>
            {{bounds.min}} <input type="range" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="thresh.xL" style="vertical-align:middle"> {{bounds.max}}<br/>

            <div class="item item-divider"> 
              <center>Vertical Y: Chan 2</center>
            </div>

            <label>Top Threshold: {{thresh.yH}}</label><br/>
            {{bounds.min}} <input type="range" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="thresh.yH" ng-change="onChange()" style="vertical-align:middle"> {{bounds.max}}<br/>
            <label>Bottom Threshold: {{thresh.yL}}</label><br/>
            {{bounds.min}} <input type="range" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="thresh.yL" ng-change="onChange()" style="vertical-align:middle"> {{bounds.max}}<br/>
        
            <!-- old way -->
        <!--<label class="item item-input" ng-class="{'has-error' : setForm.horzHT.$invalid}">-->
          <!--<span class="input-label">Upper Thresh: </span>-->
          <!--<input name="horzHT" type="number" ng-change="onChange()" ng-model="settings.horzHighThresh" min="0" max="255">-->
        <!--</label>-->
        <!--<span ng-if="setForm.horzHT.$error.max || setForm.horzHT.$error.min">Outside 0-255 Range!</span>-->
        <!--<span ng-if="setForm.horzHT.$error.number">Not a number!</span>-->
        </div>
      </form>
      
    </ion-content>
  </ion-popover-view>
</script>

<script id="xy-help.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
        <h1 class="title">Go Dot Help</h1>
        <!--<button class="button button-icon icon ion-help" ng-click="helpover.show($event)"></button>-->
    </ion-header-bar>
    <ion-content>
        <div style="padding: 8px 8px">
            <div>
                Go Dot moves around the screen based on your muscle activity!
            </div>
            <p>Horizontal (X) = chan 1.  Vertical (Y) = chan 2</p>
            <div class="item item-divider"> 
              <center>Motion Modes</center>
            </div>
            <p>
                Follow RMS tracks the RMS (root-mean-square) of your muscle signal.  
                Stronger signals place the dot further up (Y) or right (X)
            </p>
            <p>
                Threshold mode moves Go Dot if your muscle signals are above/below set thresholds.
                Each channel has 2 thresholds.  Signals above Top Threshold move Go Dot right/up.
                Signals below Bottom Threshold move Go Dot left/down.  
                Change thresholds in the settings menu.
                To experiment, go to the Go Dot Demo.
            </p>
                
    </ion-content>
  </ion-popover-view>
</script>