<ion-view title="Hardware Settings">
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
    </ion-nav-buttons>

    <ion-content class="has-header fv-theme">
      <ul class="list">
        <li class="item">
          Sensor Resolution
          <div style="display:block; position: absolute; right: 16px; top: 10px;">
             <button style="line-height:20px; margin:0px;"
                     class="button button-small button-stable"
                     ng-class="{'active':!settings.bitDepth10}"
                     ng-click="toggleBitDepth10(false)">8-Bit</button>
             <button style="line-height:20px; margin:0px;"
                     class="button button-small button-stable"
                     ng-class="{'active':settings.bitDepth10}"
                     ng-click="toggleBitDepth10(true)">10-bit</button>
          </div>
        </li>
        <li class="item item-toggle">
          Hardware smoothing filter
          <span style="float:right;" ng-if="settings.smoothFilterFlag">On</span>
          <span style="float:right;" ng-if="!settings.smoothFilterFlag">Off</span>
          <label class="toggle">
            <input type="checkbox" ng-model="settings.smoothFilterFlag" ng-change="onChange()">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
        <li class="item item-button-right">
          RMS Window Size
          <span style="float:right;">{{rmsWindowSize}}ms</span>
          <button class="button button-icon" style="" ng-click="showRmsWindowSizeModal()">
                  <i class="icon ion-edit dark"></i>
          </button>
        </li>
        <li class="item item-button-right">
          Channels
          <span style="float:right;">{{settings.nChannels}}</span>
          <button class="button button-icon" style="" ng-click="showChannelModal()">
                  <i class="icon ion-edit dark"></i>
          </button>
        </li>
      </ul>


        <div ng-if="!mobile">
          <h3 align="center">Data Export</h3>
          <p>
            Directory: {{file.path}} &nbsp;&nbsp;
            <button ng-if="file.path" ng-click="file.getDirectory()">Change</button>
            <button ng-if="!file.path" ng-click="file.getDirectory()">Choose</button>
          </p>
          <p>
            Export Format:
            <label ng-repeat="item in settings.exportFormatList">
                <input type="radio" ng-model="settings.exportFormat" ng-change="onChange()" ng-value="item.value"/>&nbsp;{{item.text}}&nbsp;&nbsp;
            </label>
          </p>
        </div>

    </ion-content>
</ion-view>
