<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div style="padding: 0px; padding-left: 10px; padding-right:10px;"
class="row">
  <div class="col" style="text-align: left; padding: 0px; padding-left: 10px; border-left: 1px solid black; padding-right: 10px; border-right: 1px solid black;">
    <button ui-sref="connection" class="button button-icon" style="">
        <i ng-if="flexvolt.getConnectionStatus()" class="icon ion-radio-waves positive"></i>
        <i ng-if="!flexvolt.getConnectionStatus()" class="icon ion-radio-waves assertive"></i>
    </button>
    <div ng-if="flexvolt.getConnectionStatus()" class="battery" id="battery">
      <div class="battery-body" id="battery-body"></div>
      <div class="battery-nub" id="battery-nub"></div>
      <div class="battery-level" ng-style="batteryLevelStyle" id="battery-level"></div>
    </div>
  </div>
</div>
