<ion-view title="Settings">
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
    </ion-nav-buttons>

    <ion-content class="has-header padding fv-theme">
        <h3 align="center">App Version: {{app.version}}</h3>

        <h3 align="center">Sensor-Based Processing</h3>
        <div ng-if="version >= versionMinimumOnboardRMS">
            <h5 align="center">The sensor can apply a smoothing filter prior to transmitting data</h5>
            <ion-toggle ng-model="settings.smoothFilterFlag" ng-change="onChange()" ng-checked="settings.smoothFilterFlag">
                <span ng-if="settings.smoothFilterFlag"> Send RMS Data </span>
                <span ng-if="!settings.smoothFilterFlag"> Send Raw Data </span>
            </ion-toggle>
            <h3 ng-if="settings.smoothFilterFlag" align="center">RMS Window Size (samples): {{rmsWindowSize}}</h3>
            <p ng-if="settings.smoothFilterFlag" >&nbsp;&nbsp;&nbsp;
                <label ng-repeat="item in rmsWindowList">
                    <input type="radio" ng-model="settings.rmsWindowSizePower" ng-change="onChange()" ng-value="item.value"/>&nbsp;{{item.text}}&nbsp;&nbsp;
                </label>
            </p>
        </div>
        <div ng-if="version < versionMinimumOnboardRMS">
            <h5 align="center">The sensor can apply a smoothing filter (moving average) prior to transmitting data</h5>
            <ion-toggle ng-model="settings.smoothFilterFlag" ng-change="onChange()" ng-checked="settings.smoothFilterFlag">
                <span ng-if="settings.smoothFilterFlag"> Send Smoothed Data </span>
                <span ng-if="!settings.smoothFilterFlag"> Send Raw Data </span>
            </ion-toggle>
            <h3 ng-if="settings.smoothFilterFlag" align="center">Smoothing Level: {{settings.smoothFilterVal}}</h3>
            <p ng-if="settings.smoothFilterFlag" >&nbsp;&nbsp;&nbsp;
                0&nbsp;&nbsp;<input type="range" min=0 max=10 step=1 ng-model="settings.smoothFilterVal" ng-change="onChange()" style="vertical-align:middle">&nbsp;&nbsp;10<br/>
            </p>
        </div>

        <div ng-if="!mobile">
          <h3 align="center">Data Export</h3>
          <p>
            Directory: {{file.path}} &nbsp;&nbsp;
            <button ng-if="file.path" ng-click="file.getDirectory()">Change</button>
            <button ng-if="!file.path" ng-click="file.getDirectory()">Choose</button>
          </p>
          <p>
            Export Format:
            <label ng-repeat="item in settings.exportFormatList">
                <input type="radio" ng-model="settings.exportFormat" ng-change="onChange()" ng-value="item.value"/>&nbsp;{{item.text}}&nbsp;&nbsp;
            </label>
          </p>
        </div>

        <h3 align="center">Channels</h3>
        <p>&nbsp;&nbsp;&nbsp;
            <label ng-repeat="item in channelList">
                <input type="radio" ng-model="settings.nChannels" ng-change="onChange()" ng-value="item.value"/>&nbsp;{{item.text}}&nbsp;&nbsp;
            </label>
        </p>
        <h3 align="center">Sampling Frequency</h3>
        <p>&nbsp;&nbsp;&nbsp;
            <label ng-repeat="item in frequencyList">
                <input type="radio" ng-model="settings.frequency" ng-change="onChange()" ng-value="item.value"/>&nbsp;{{item.text}}&nbsp;&nbsp;
            </label>
        </p>
        <div ng-if="!settings.smoothFilterFlag || version >= versionMinimumOnboardRMS">
            <h3 align="center">Sampling Depth</h3>
            <ion-toggle ng-model="settings.bitDepth10" ng-change="onChange()" ng-checked="settings.bitDepth10">
                <span ng-if="settings.bitDepth10"> High Res - 10 bits </span>
                <span ng-if="!settings.bitDepth10"> Low Res - 8 bits </span>
            </ion-toggle>
        </div>
    </ion-content>
</ion-view>
