<ion-view title="">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <save-panel></save-panel>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
  <ion-content scroll="false" class="has-header fv-theme">
      <div class="row row-full-height">

          <div class="col col-110px" style="padding:0px;">
              <div ng-repeat="label in pageLogic.settings.labels | limitTo : pageLogic.settings.nChannels track by $index"
                   style="font-size:14px; line-height:14px; padding:0px;">
                  <div class="row" style="padding:5px 0px;" ng-click="showLabelPopup($index)" >
                      {{label.name}}
                  </div>
                  <div class="row" style="padding:0px;">
                      <div class="col col-30px" style="padding:5px 0px 0px 0px;">
                          <div class="row" style="padding:0px;">
                            <span ng-style="{'background-color': label.color}"
                              style="width: 30px; height: 10px; border-width:1px; border-color:black"></span>
                          </div>
                          <div class="row" style="margin:0px; padding:5px;">
                              <i class="icon ion-refresh rms-page-icon" ng-click="resetMetrics($index)"></i>
                          </div>
                      </div>
                      <div style="padding:0px 0px 0px 5px; width: 80px; font-size:12px;" class="col col-80px">
                          <div class="row" style="padding:3px 0px;">Max:  {{metrics[$index].maxAmplitude | number:0}}</div>
                          <div class="row" style="padding:3px 0px;">Mean: {{metrics[$index].meanAmplitude | number:0}}</div>
                          <div class="row" style="padding:3px 0px 0px 0px;">Min:  {{metrics[$index].minAmplitude | number:0}}</div>
                      </div>
                  </div>
              </div>
              <div>
                  <button class="button button-small button-balanced" title="Set Scale" ng-click="changeScale()">Scale</button>
              </div>
          </div>

          <div class="col" style="padding:0px; position:relative;" id="rmsTimeWindow">
              <not-connected></not-connected>
          </div>
      </div>

  </ion-content>
</ion-view>
