<ion-view title="Getting Started">
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
    </ion-nav-buttons>
    <ion-content class="has-header fv-theme">
        <div>
            <div style="padding: 5px 15px">
                <h4>Initial Setup</h4>
                <ul>
                    <li>1.  Turn FlexVolt on</li>
                    <li ng-if="mobile">2.  Turn on phone/tablet Bluetooth</li>
                    <li ng-if="!mobile">2.  Turn on computer Bluetooth</li>
                    <li ng-if="mobile">3.  Find FlexVolt in the list of Bluetooth devices</li>
                    <li ng-if="!mobile && platform === 'windows'">3.  Add FlexVolt in Bluetooth settings</li>
                    <li ng-if="!mobile && platform === 'mac'">3.  Select FlexVolt in Bluetooth settings device list</li>
                    <li ng-if="!mobile && platform !== 'mac' && platform !== 'windows'">3.  Find FlexVolt in the list of Bluetooth devices</li>
                    <li>4.  Connect using pairing code = '0000'</li>
                    <li>5.  Tap connection icon, select 'Try to Connect'
                </ul>
                <h4>Connecting
                    <button ui-sref="connection" class="button button-icon icon ion-radio-waves assertive"></button>
                    <i class="button-icon icon ion-arrow-right-a"></i>
                    <button ui-sref="connection" class="button button-icon icon ion-radio-waves positive"></button>
                </h4>
                <ul>
                    <li>After initial setup, this app should automatically find your FlexVolt device and connect</li>
                    <li>Tap the connection icon in the top right for connection info and advanced options</li></ul>
                <h4>General Settings<i ui-sref="settings" class="button-icon icon ion-gear-b"></i></h4>
                <p>Settings for connection, hardware, sound feedback, and signal range can be found listed in the general settings page.</p>
                <h4>Hardware Settings
                    <i ui-sref="hardware" class="button-icon icon ion-settings"></i>
                </h4>
                <p>
                    Once connected, you can change hardware settings, such as sampling frequency, at the hardware configuration page.
                </p>
                <h4>Sound Feedback Settings<i ui-sref="sound" class="button-icon icon ion-volume-medium"></i></h4>
                <p>The FlexVolt app allows you to make music with your muscles.
                  You can set the volume and pitch range in the sound seetting page.
                  Righ now only proportional sound feedback is possible, but threshold feedback is coming soon!</p>
                <h4>Attaching to Muscles</h4>
                <ul>
                    <li>1. Prepare skin - wash with alcohol or soap and water to remove oils, remove hair to ease sticker removal</li>
                    <li>2. Attach sticker electrodes - 2 for each muscle, 1 for each body reference</li>
                    <li>3. Attach cable clips - Red and Black for muscle signals, White for body reference</li>
                    <li> <b>Note</b> - at least one body reference must be used.</li>
                    <li> Body reference can be placed anywhere convenient.</li>
                </ul>
                <h4>Feedback</h4>
                <p>
                    Do you have input on existing tasks or a request for new tasks or features?
                    Send all comments to software@flexvoltbiosensor.com
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
