<ion-view title="Settings">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <!-- <save-panel ng-if="!mobile"></save-panel> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
    </ion-nav-buttons>
  <ion-content class="has-header fv-theme" scroll="false">
      <div class="list">
        <div class="item item-text-wrap">
          Select the range to use for visual and auditory feedback.  Select a
          smaller range for smaller signals.
        </div>
        <div class="item row"
             ng-repeat="scaleOption in generalData.settings.scaleList track by $index"
             ng-class="selectedScaleStyle($index)"
             ng-click="selectScale($index)">
          <div class="col"> 0 - {{scaleOption}}uV</div>
        </div>
      </div>

  </ion-content>
</ion-view>
