

<ion-view title="Go Dot">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
    <ion-content class="has-header fv-theme">
        <not-connected></not-connected>
        <div ng-if="demo">
            <ion-toggle ng-model="fakeData.useRandom" ng-change="onChange()" ng-checked="fakeData.useRandom">
                <span ng-if="!fakeData.useRandom">Demo Data: Simulate Data Here</span>
                <span ng-if="fakeData.useRandom">Demo Data: Generate Random</span>
            </ion-toggle>
            <span>Use Settings (top right) to Change Dot Mode</span><br/>
            <label>Simulate X Signal: {{fakeData.x | number:2}}</label>&nbsp&nbsp
            {{bounds.min}} <input type="range" step="0.05" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="fakeData.x" style="vertical-align:middle"> {{bounds.max}}<br/>
            <label>Simulate Y Signal: {{fakeData.y | number:2}}</label>&nbsp&nbsp
            {{bounds.min}} <input type="range" step="0.05" min="{{bounds.min}}" max="{{bounds.max}}" ng-model="fakeData.y" style="vertical-align:middle"> {{bounds.max}}<br/>
        </div>
        <div ng-show="demo || flexvolt.api.connection.state === 'connected'">
            <div id="xyWindow"></div>
        </div>
    </ion-content>
</ion-view>
