

<ion-view title="Myometer">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <!-- <save-panel ng-if="!mobile"></save-panel> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
  <ion-content class="has-header fv-theme" scroll="false">
    <not-connected></not-connected>
    <div ng-show="demo || flexvolt.api.connection.state === 'connected'">
        <save-panel ng-if="mobile"></save-panel>
        <div id="myometerWindow"></div>
        <div class="row">
            <div class="col col-70px"></div>
            <div style="text-align:center" class="col"
                 ng-repeat="label in pageLogic.settings.labels | limitTo : pageLogic.settings.nChannels track by $index "
                 ng-click="showLabelPopup($index)">
                {{label}}
            </div>
            <div class="col col-10px"></div>
        </div>
        <div class="row">
            <div class="col col-70px">Baseline</div>
            <div style="text-align:center" class="col" ng-repeat="baseline in pageLogic.settings.baselines | limitTo:pageLogic.settings.nChannels track by $index">
                {{baseline}} mV
            </div>
            <div class="col col-10px"></div>
        </div>
        <div class="row">
            <div class="col col-70px">
            </div>
            <div style="text-align:center" class="col" ng-repeat="ch in pageLogic.settings.labels | limitTo : pageLogic.settings.nChannels track by $index ">
                <button class="button button-small button-balanced" title="Set Baseline" ng-if="!baselining || (baselining && (baseline.channel !== $index))" ng-disabled="baselining"  ng-click="setBaseline($index)">S</button>
                <button class="button button-small button-assertive" title="Cancel Baseline Measurement" ng-if="baselining && baseline.channel === $index" ng-click="cancelBaseline($index)">Cancel</button>
                <button class="button button-small button-assertive" title="Clear Baseline" ng-if="!baselining || baseline.channel !== $index" ng-disabled="baselining" ng-click="clearBaseline($index)">X</button>
            </div>
            <div class="col col-10px"></div>
        </div>
    </div>

  </ion-content>
</ion-view>
