

<ion-view title="Balloon">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
    <ion-content class="has-header fv-theme">
        <not-connected></not-connected>
        <div ng-if="demo" style="padding: 5px;">
            <span>Simulate Signals</span>
            <button class="button button-small button-balanced" ng-click="flex(50)">Flex 50%</button>
            <button class="button button-small button-balanced" ng-click="flex(100)">Flex 100%</button>
            <!-- <button class="button button-small button-balanced" ng-click="deflate()">Deflate</button> -->
            <button class="button button-small button-balanced" ng-click="resetBalloon()">Reset</button>
            <button class="button button-small button-balanced" ng-click="popBalloon()">Pop</button>
        </div>
        <div ng-show="demo || flexvolt.api.connection.state === 'connected'">
          <div class="row">
            <div class="col">
              Range 0-{{generalData.settings.scale}}uV.  Threshold
              {{balloonLogic.settings.intensity.threshold}}% =
              {{generalData.settings.scale*balloonLogic.settings.intensity.threshold/100|number:0}}uV</div>
            <div class="col"><button class="button button-small button-balanced" title="Set Scale" ng-click="changeScale()">Change Range</button></div>
          </div>
          <div class="row">
            Current Muscle Level: {{currentVal | number:0}}uV
          </div>
          <div id="balloonContainer">
            <div id="balloonDriftYContainer">
              <div id="balloonDriftXContainer">
                <canvas style="position:absolute;" id="balloonPopCanvas"></canvas>
                <div id="balloonBody"></div>
                <div id="balloonKnot"></div>
                <svg id="balloonStringSVG">
                  <path id="balloonString" stroke="black" fill="transparent"/>
                </svg>
              </div>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
