<ion-modal-view class="help-modal-container" ng-click="helpModal.hide()">
  <ion-header-bar class="bar bar-header bar-balanced">
      <h1 class="title">Balloon Help</h1>
      <!--<button class="button button-icon icon ion-help" ng-click="helpover.show($event)"></button>-->
  </ion-header-bar>
  <ion-content>
      <div class="help-modal">
          <div>
              Inflate the balloon with your muscles!
          </div>
          <div class="item item-divider">
            <center>Inflate Instructions</center>
          </div>
          <p>
              To add air to the balloon, flex you muscle.
              Your muscle contraction intensity must be greater than the intensity threshold and must last longer than the time threshold.
          </p>
          <p>
              For example, if your goal is to flex 50% of maximum contraction for 5 seconds, set the intensity threshold to 50% and the time threshold to 5 seconds.
          </p>

          <div style="text-align: center;">
            <button ng-click="helpModal.hide()" class="button button-balanced">Got it!</button>
          </div>
      </div>

  </ion-content>
</ion-modal-view>
