<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">Balloon Settings</h1>
  </ion-header-bar>
  <ion-content>
    <form name="setForm">
      <div style="padding: 8px 8px">
          <label>Intensity Threshold: {{settings.intensity.threshold}}</label><br/>
          {{settings.intensity.min}}% <input type="range" step="{{settings.intensity.step}}" min="{{settings.intensity.min}}" max="{{settings.intensity.max}}" ng-model="settings.intensity.threshold" style="vertical-align:middle"> {{settings.intensity.max}}%<br/>
          <label>Time Threshold: {{settings.time.threshold}}ms</label><br/>
          {{settings.time.min}} <input type="range" step="settings.time.step" min="{{settings.time.min}}" max="{{settings.time.max}}" ng-model="settings.time.threshold" style="vertical-align:middle"> {{settings.time.max}}<br/>

      </div>
    </form>

  </ion-content>
</ion-popover-view>
