<ion-view title="Sound Settings">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <!-- <save-panel ng-if="!mobile"></save-panel> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
    </ion-nav-buttons>
  <ion-content class="has-header fv-theme" scroll="false">
    <ul class="list">
      <li class="item item-toggle">
        On/Off
        <label class="toggle">
          <input type="checkbox" ng-model="tone.isEnabled" ng-change="onChange()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item">
        Mode
        <div style="display:block; position: absolute; right: 16px; top: 10px;">
           <button style="line-height:20px; margin:0px;"
                   class="button button-small button-stable"
                   ng-repeat="toneModeOption in tone.modeList track by $index"
                   ng-class="selectedSoundModeStyle($index)"
                   ng-click="selectSoundMode($index)">{{toneModeOption}}</button>
        </div>
      </li>
      <div ng-if="tone.mode === 'Proportional'">
        <li class="item item-text-wrap">
          <p>Proportional Feedback: Plays a feedback tone where pitch changes
            when muscle signal intensity changes.  Select a frequency range.
            Note - if 'Small Muscle Signal' frequency is higher, then pitch decreases
            when muscle signal increases!
            </p>
        </li>
        <li class="item">
          Volume &nbsp;&nbsp;
          <span style="float: right;">
            <i class="icon ion-volume-low"></i>
            <input type="range" ng-model="tone.volume" ng-change="onChangeVolume()" name="volume" min="0" max="150">
            <i class="icon ion-volume-high"></i>
          </span>
        </li>
        <li class="item">
          Large Muscle Signal
          <div style="display:block; position: absolute; right: 16px; top: 10px; text-align:right;">
            <input style="text-align:right; padding-right: 20px;" ng-model="tone.proportionalMaxFreq" type="number" ng-change="onChange()"/>
            <span style="display: block; position: absolute; right:0px; top: 8px;">Hz</span>
          </div>
        </li>
        <li class="item">
          Small Muscle Signal
          <div style="display:block; position: absolute; right: 16px; top: 10px; text-align:right;">
            <input style="text-align:right; padding-right: 20px;" ng-model="tone.proportionalMinFreq" type="number" ng-change="onChange()"/>
            <span style="display: block; position: absolute; right:0px; top: 8px;">Hz</span>
          </div>
        </li>
      </div>
      <div ng-if="tone.mode === 'Threshold'">
        <li class="item item-text-wrap">
          <p>Threshold Feedback: Plays a feedback tone when muscle signal is
            above/below a set threshold.  <strong>NOTE - THRESHOLD FEEDBACK IS NOT IMPLEMENTED YET</strong></p>
        </li>
        <li class="item">
          Play Sound When Signal is
          <div style="display:block; position: absolute; right: 16px; top: 10px;">
             <button style="line-height:20px; margin:0px;"
                     class="button button-small button-stable"
                     ng-repeat="toneThresholdType in tone.thresholdTypeList track by $index"
                     ng-class="selectedThresholdTypeStyle($index)"
                     ng-click="selectThresholdType($index)">{{toneThresholdType}}</button>
          </div>
        </li>

        <div ng-if="tone.thresholdType === 'Above'">
          <li class="item">
            Threshold
            <div style="display:block; position: absolute; right: 16px; top: 10px; text-align:right;">
              <input ng-model="tone.aboveThreshold" type="number" ng-change="onChange()"/>uV
            </div>
          </li>
          <li class="item">
            Tone Frequency
            <div style="display:block; position: absolute; right: 16px; top: 10px; text-align:right;">
              <input ng-model="tone.aboveThresholdFreq" type="number" ng-change="onChange()"/>Hz
            </div>
          </li>
        </div>
        <div ng-if="tone.thresholdType === 'Below'">
          <li class="item">
            Threshold
            <div style="display:block; position: absolute; right: 16px; top: 10px; text-align:right;">
              <input ng-model="tone.belowThreshold" type="number" ng-change="onChange()"/>uV
            </div>
          </li>
          <li class="item">
            Tone Frequency
            <div style="display:block; position: absolute; right: 16px; top: 10px; text-align:right;">
              <input ng-model="tone.belowThresholdFreq" type="number" ng-change="onChange()"/>Hz
            </div>
          </li>
        </div>

      </div>
    </ul>

  </ion-content>
</ion-view>
