<ion-view title="Connection">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <!-- <save-panel ng-if="!mobile"></save-panel> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
    </ion-nav-buttons>

    <ion-content class="has-header fv-theme" scroll="false">
      <ul class="list">
        <li class="item item-text-wrap">
          Status:  {{flexvolt.getDetailedConnectionStatus()}}
          <!-- <span style="float:right;">{{flexvolt.getDetailedConnectionStatus()}}</span> -->
        </li>
        <li class="item item-button-right" ng-if="flexvolt.getConnectionStatus()">
          <i class="icon ion-radio-waves positive" style="padding-right:10px;"></i>{{con.flexvoltName}}
            <button class="button button-icon"
                    ng-click="showConnectionInfo()">
                      <i class="icon ion-gear-b dark"></i>
            </button>
        </li>
        <li class="item item-button-right" ng-if="!flexvolt.getConnectionStatus()">
          No Connections
          <button class="button button-small button-balanced"
                  ng-if="!flexvolt.getConnectionStatus() && !flexvolt.getConnectingStatus()"
                  ng-click="flexvolt.api.startConnect()">Scan</button>
          <button class="button button-small button-balanced"
                  ng-if="flexvolt.getConnectingStatus()"
                  ng-click="flexvolt.api.cancelConnection()">Stop</button>
        </li>
        <li class="item item-button-right">
          Available Devices
          <button class="button button-icon" style=""
                  ng-click="updatePorts()">
              Refresh <i style="margin-left:10px;"class="icon ion-loop dark"></i>
          </button>
        </li>
        <li class="item"
            ng-if="!flexvolt.getConnectingStatus() && !flexvolt.getConnectionStatus()"
            ng-repeat="device in portList() track by $index"
            ng-click="attemptToConnect(device)">
            <i class="icon ion-bluetooth positive" style="padding-right:10px;"></i>{{device.name}}
          <!-- <button class="button button-small button-balanced"
                  ng-click="attemptToConnect(device)">Connect</button> -->
        </li>
        <li class="item disabled"
            ng-if="flexvolt.getConnectingStatus() || flexvolt.getConnectionStatus()"
            ng-repeat="device in portList() track by $index">
            <i class="icon ion-bluetooth positive" style="padding-right:10px;"></i>{{device.name}}
          <!-- <button class="button button-small button-balanced"
                  ng-click="attemptToConnect(device)">Connect</button> -->
        </li>
      </ul>
    </ion-content>
</ion-view>
