/* FlexVolt CSS */

.fv-hr {
  height: 2px;
  color: black;
  background-color: black;
  border: none;
}

.fv-message {
  padding: 25px;
  color: black;
}

path.line
{
    fill: none;
}

.my-icon-col{
    text-align:center !important;
}

.my-icon-row{
    padding-bottom:30px !important;
}

.home-page-icons:before,
.home-page-icons{
    font-size:60px !important;
    display:block !important;
}

i.record-icon{
    font-size:40px !important;
}

.record-icon-text{
    font-size:20px !important;
    display: table-cell;
    padding: 12px;
    font-weight: bold;
    color: black;
}

/*
.popup-body{
  //background: blue !important;
  //color:#fff !important;
  font-size:10px !important;
}*/

.help-modal {
    padding: 8px;
    font-size: 14px;
}

.help-modal-container {
    width: 94%;
    height: 94%;
    top: 3%;
    left: 3%;
    right: 3%;
    bottom: 3%;
    border: 10px solid #33cd5f; // ionic $balanced
    border-radius: 8px;
}

.log-class {
    font-size: 12px;
    -webkit-user-select: text !important;
    -moz-user-select: text !important;
    -ms-user-select: text;
    -khtml-user-select:  text !important;
}

.row-full-height {
  position:absolute;
  top:0;
  bottom:0;
}

.col-150px {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 150px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 150px;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  max-width: 150px; }

.col-70px {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 70px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 70px;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  max-width: 70px; }

.col-10px {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 10px;
  -moz-box-flex: 0;
  -moz-flex: 0 0 10px;
  -ms-flex: 0 0 10px;
  flex: 0 0 10px;
  max-width: 10px; }

/* Plotting styles */

.fullsizeplot {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.axisnoline path {
    fill: none;
    stroke: none;
}

.axis {
  shape-rendering: crispEdges;
}

.y.axis line,
.x.axis line {
  stroke: none;
}

.x.axis path {
  display: none;
}


.y.axis path {
  fill: none;
  stroke: #000;
}
