<ion-view title="Trace">
    <ion-nav-buttons side="left">
        <help-popover></help-popover>
        <!-- <save-panel ng-if="!mobile"></save-panel> -->
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <settings-icon></settings-icon>
        <connection-status></connection-status>
        <filters-popover ng-if="!mobile"></filters-popover>
        <settings-popover></settings-popover>
    </ion-nav-buttons>
  <ion-content class="has-header fv-theme" scroll="false">
      <div class="row row-full-height">
          <!--This div, #traceWindow in this case, gets grabbed by d3 plotting features-->
          <div id="traceWindow"
               class="row fullsizeplot"
               style="position:relative;">
               <not-connected></not-connected>
           </div>
          <!-- <div id="traceWindow" class="row fullsizeplot" style="overflow: scroll;"></div> -->

          <!-- <save-panel ng-if="mobile"></save-panel> -->
      </div>

  </ion-content>
</ion-view>
