<ion-view title="Demos">
    <ion-nav-buttons side="right">
        <connection-status></connection-status>
        <settings-icon></settings-icon>
    </ion-nav-buttons>
    <ion-content class="has-header padding fv-theme">
        <div style="padding: 5px 25px">
            These demos run with simulated data so you can see what each task would look like even if you don't have a FlexVolt sensor.
        </div>
        <div ng-repeat="row in apps.active" class="row my-icon-row">
            <div ng-repeat="icon in row" class="col my-icon-col">
                    <button class="button-icon" ui-sref="{{icon.ref}}"><i class="icon {{icon.icon}} home-page-icons"></i>{{icon.btnName}}</button>
            </div>
        </div>
        <div style="text-align:center;">
          <h3>Other Features Coming Soon:</h3>
        </div>
        <div ng-repeat="row in apps.development" class="row my-icon-row">
            <div ng-repeat="app in row" class="col-25 my-icon-col">
                    <button class="button-icon" ui-sref="{{app.ref}}"><i class="icon {{app.icon}} home-page-icons"></i>{{app.btnName}}</button>
            </div>
        </div>
    </ion-content>
</ion-view>
